node_modules
.env

# Node-RED config files
.config.nodes.json
.config.nodes.json.backup
.config.runtime.json
.config.runtime.json.backup
.config.users.json
.config.users.json.backup
.flows.json.backup
.flows_cred.json.backup
.sessions.json
flows.json
flows_cred.json
context/
logs/